<!-- Main Home Page -->
{% extends 'base.html' %}

<!-- Home js script -->
{% block js %}
<script type="text/javascript" src="/static/js/homeScript.js"></script>
<script type="text/javascript" src="/static/js/modalScript.js"></script>
{% endblock %} {% block css %}{% endblock %} {% block content %}
<div id="app">
    {% if user.is_authenticated %} <pre>USERNAME: {{ user.username}}<br>FIRST NAME: {{user.first_name}} <br>LAST NAME: {{user.last_name}}<br>EMAIL: {{user.email}} <br>ACCOUNT CREATION: {{user.date_joined}} <br>LAST LOGIN: {{user.last_login}}
    </pre> {% if form.errors %}
    <ul>
        {% for key,value in form.errors.items %}
        <li>{{ key|escape }} : {{ value|escape }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p><a href="{% url 'logout' %}">logout</a></p>

    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'planner:signup' %}">signup</a> {% endif %}
</div>
{% endblock %}