<!-- Base Style. Do Nav Bar here. Home and Forum page should extend this -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{{ title }}{% endblock %}</title>

	<meta charset="utf-8"/>

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script type="text/javascript" src="/static/js/dev-vue.js"></script>
	<script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
	{% block css %} {% endblock %}

	{% block js %}{% endblock %}
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-light">
		<i class="fa fa-sun">DayMaker</i>
	</nav>

	{% block content %}{% endblock %}
	{% block javascript %}{% endblock %}	
</body>
</html>