<!-- Main Home Page -->
{% extends 'base.html' %}

<!-- Home js script -->
{% block js %}
  <script type="text/javascript" src="/static/js/homeScript.js"></script>
{% endblock %}

{% block css %}
    <style>
        .addEventButton {
            display: block;
            width: 100%;
            border: none;
            background-color: #60a9a6;
            color: white;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }
            
        .addEventButton:hover {
            background-color: #caf2d7;
            color: black;
        }
    </style>
{% endblock %}

{% block content %}
<body>
    <button class="addEventButton" onclick="window.location.href='/planner/'">+ Add Event</button>
</body>
{% endblock %}