<!-- Main Home Page -->
{% extends 'base.html' %}

<!-- Home js script -->
{% block js %}
<script type="text/javascript" src="/static/js/homeScript.js"></script>
<script type="text/javascript" src="/static/js/modalScript.js"></script>
{% endblock %} {% block css %}{% endblock %} {% block content %}
<div id="app">
  {% if user.is_authenticated %}
    Hi {{ user.username }}
    <p><a href="{% url 'logout' %}">logout</a></p>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'planner:signup' %}">signup</a>

  {% endif %}
</div>
{% endblock %}
