<!-- Main Home Page -->
{% extends 'base.html' %}

<!-- Home js script -->
{% block js %}
  <script type="text/javascript" src="/static/js/homeScript.js"></script>
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
    <div id="app">
        <!-- Top add event button going to polls -->
        <button class="addEventButton" onclick="window.location.href='/planner/'"> [[ addEventString ]] </button>
        <!-- Display every event in events -->
        <event-item 
            class="eventStyle" 
            v-for="(item, index) in eventList" 
            v-bind:event="item" 
            v-bind:key="item.id" 
            v-on:remove="eventList.splice(index, 1)"
        ></event-item>
        <!-- Bottom add event button going to polls -->
        <button class="addEventButton" v-if="showBottomEventButton" onclick="window.location.href='/planner/'"> [[ addEventString ]] </button>
    </div>
{% endblock %}