input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

html body {
    background-color: #ffcf8c;
}

.top-padding {
    margin-top: 10px;
}

.user-message {
    background-color: rgb(255, 28, 176);
}

.chat-message {
    background-color: rgb(0, 255, 0);
}

.send-btn {
    position: absolute;
    top: 12px;
    font-size: 30px;
    color: grey;
    right: 20px;
}

.send-btn:hover {
    color: rgba(0, 128, 0, 0.61);
}

#text-box {
    position: relative;
    bottom: 8px;
    width: 95%;
}

#text-box textarea {
    border: 2px solid;
}

.navbar {
    background-color: cadetblue;
    font-size: 20px;
}

#app {
    margin-left: 0px;
}

#app .card {
    margin-bottom: 5px;
}

#app p {
    margin-bottom: 0px;
}

#app * {
    box-sizing: border-box;
}

#app .addEventButton {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 5px;
    border-radius: 10px;
    background-color: #daf0b1;
    color: black;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 98.5%;
}

#app .addEventButton:hover {
    background-color: #c5fa61;
    color: black;
}

#app .eventRow {
    width: 100%;
    display: grid;
}

#app .eventRow:after {
    content: "";
    display: table;
    clear: both;
}

#app .eventColumnLeft,
.eventColumnMiddle,
.eventColumnRight {
    float: left;
    width: 33%;
    display: block;
}

#app .buttonColumn + .eventColumnMiddle,
.buttonColumn +.eventColumnRight {
    width: 45%;
}

#app .buttonColumn {
    float: left;
    width: 5%;
    height: 100%;
    display: grid;
    justify-content: center;
}

#app .buttonColumn .eventRadioButton {
    display: inline-block;
}

#app .eventStyle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 5px;
    border-radius: 10px;
    background-color: #cfccce;
    color: black;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

#app .timeWindow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 5px;
    border-radius: 10px;
    background-color: #cfccce;
    color: black;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    margin: 10px;
}

#app .timeWindow p {
    font-size: 20px;
}

#app .eventStyle:hover {
    background-color: #eccfff;
    color: black;
}

#app .eventTitle {
    font-size: 20px;
    font-weight: 600;
}

#app .eventDetails {
    font-weight: 300;
}

#app .removeEventButton {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: #e8e8e8;
}

#app .removeEventButton:hover {
    background-color: #ffdbdb;
}
