{% extends 'base.html' %}

{% block javascript %}
{% load static %}
<script type="text/javascript" src="{% static '/js/location.js' %}" defer></script>
{% endblock %}

{% block content %}
<div id="app" class="form-margin">
<h2 class="page-title">Add Existing Event</h2>
<hr>
<div class="help-text-helper">
    <div class="page-title help-text">Please enter the details for your event.</div>
</div>
<form name="addEventForm" action="{% url 'planner:add' plan_id %}" method="post" required>
    {% csrf_token %}
    {{ form.as_p }}
    <p id="address_status" class="form-text text-muted"></p>
    <button id = "currentLocationButton" class="btn btn-secondary btn-sm" type='button'>Use My Current Location</button>
    
    {% if timeError %}
    <div class = "eventRow">
            <div class = "timeWindow">
                <p>Invalid Time Range! Please enter a valid time range to search.</p>
            </div>
    </div>
    {% endif %}

    {% if eventOverlap %}
    <div class = "eventRow">
            <div class = "timeWindow">
                <p>You already have an event scheduled for this time! Please pick a new time to search.</p>
            </div>
    </div>
    {% endif %}
    
    <input id="submit_button" name="Save Event" class="btn btn-success btn-block button-padding" type="submit" value="Please Enter a Valid Location" disabled>
</form>
<div>
    <a href="{% url 'planner:plan' plan_id %}" class="btn btn-danger btn-block button-padding" role="button" >Back</a>
</div>
<div>
    <a href="{% url 'planner:index' plan_id %}" class="btn btn-primary btn-block button-padding" role="button" >Back to Plan</a>
</div>
</div>
{% endblock %}
