{% extends 'base.html' %}

{% block javascript %}
{% load static %}
<script type="text/javascript" src="{% static '/js/location.js' %}" defer></script>
{% endblock %}

{% block content %}
<div id="app" class="form-margin">
<form name="addEventForm" action="{% url 'planner:add' plan_id %}" method="post" required>
    {% csrf_token %}
    {{ form.as_p }}
    <p id="address_status"></p>
    <button id = "checkAddressButton" type='button'>Check Address</button>
    
    {% if timeError %}
    <div class = "eventRow">
            <div class = "timeWindow">
                <p>Invalid Time Range! Please enter a valid time range to search.</p>
            </div>
    </div>
    {% endif %}

    {% if eventOverlap %}
    <div class = "eventRow">
            <div class = "timeWindow">
                <p>You already have an event scheduled for this time! Please pick a new time to search.</p>
            </div>
    </div>
    {% endif %}
    
    <input id="submit_button" name="Save Event" class=".btn-success" type="submit" value="Please Enter a Valid Location" disabled>
</form>
<input class="back" value="Back to Home" href="{% url 'planner:index' plan_id %}" />
</div>
{% endblock %}
