{% extends 'base.html' %}

{% block content %}
<div id="app" class="form-margin">

<form action = "" method="post">
    {% csrf_token %}
    <h2 class="page-title">Remove Plan</h2>
    <hr>
    <div class="help-text-helper">
        <div class="page-title help-text">Are you sure you want to delete the Plan for {{ object.date }}?</div>
    </div>
    <p></p>
    <input class="btn btn-success btn-block button-padding" type="submit" value="Confirm">
</form>

<div>
    <a href="{% url 'planner:plan_index' %}" class="btn btn-danger btn-block button-padding" role="button" >Back</a>
</div>

</div>
{% endblock %}
