{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block javascript %}
{% load static %}
<script type="text/javascript" src="{% static '/js/location.js' %}" defer></script>
{% endblock %}

{% block content %}
<div id="app" class="form-margin">
<h2 class="page-title">Search</h2>
<hr>
<div class="help-text-helper">
    <div class="page-title help-text">Enter your seach criteria below.</div>
</div>
<form id="search_form" action="{% url 'planner:plan' plan_id %}" method="post" data-categories-url="{% url 'planner:ajax_load_categories' %}">
    {% csrf_token %} 
    {{ form|crispy }}
    <p id="address_status" class="form-text text-muted"></p>
    <button id = "currentLocationButton" class="btn btn-secondary btn-sm" type='button'>Use My Current Location</button>
    
    {% if timeError %}
    <div class = "eventRow timeError">
        <div class = "timeWindow">
            <p>Invalid Time Range! Please enter a valid time range to search.</p>
        </div>
    </div>
    {% endif %}

    {% if eventOverlap %}
    <div class = "eventRow timeError">
            <div class = "timeWindow">
                <p>You already have an event scheduled for this time! Please pick a new time to search.</p>
            </div>
    </div>
    {% endif %}

    <input id="submit_button" name="Find Event" class="btn btn-success btn-block button-padding" role="button" type="submit" value="Please Enter a Valid Location" disabled />

</form>
<div>
    <a href="{% url 'planner:add' plan_id %}" class="btn btn-warning btn-block button-padding" role="button">Add Existing Event Manually?</a>
</div>
<div>
    <a href="{% url 'planner:index' plan_id %}" class="btn btn-danger btn-block button-padding" role="button" >Back</a>
</div>
</div>
{% if category %}
<div id="load_category" data="{{ category }}"></div>
{% endif %}
{% endblock %}
