<!-- Main Home Page -->
{% extends 'base.html' %}

{% block content %}
<div id="app" class="form-margin">
    <div class="eventDateRow">
                [[ dateOfPlan ]]
    </div>
    <!-- Top add event button -->
    <div class="eventRow">
        <button class="addEventButton" v-if="showBottomEventButton" onclick="window.location.href='{% url 'planner:plan' plan_id %}'"> [[ addEventString ]] </button>
    </div>

    {% if event_list %}
        <div class="eventRow">
            <event-item v-for="(item, index) in eventList" class="eventStyle" v-bind:event="item" v-bind:key="item.id" v-on:remove="eventList.splice(index, 1)"></event-item>
        </div>

    {% else %}
        <div class="noEventsBox">
            No events are available. Click below to add one now!
        </div>
        <div>
            <button class="addEventButton" onclick="window.location.href='/planner/plan'"> [[ addEventString ]] </button>
        </div>
    {% endif %}
</div>

{% endblock %}

<!-- Home js script -->
{% block js %}
  <script type='text/javascript'>
      var event_list = {{ event_list_json|safe }};
  </script>
  <script type="text/javascript" src="/static/js/homeScript.js"></script>
{% endblock %}
